<mat-icon (click)="onNoClick()" class="iconClose">highlight_off</mat-icon>

<form class="example-form" #userForm="ngForm">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Prenom" ngModel name="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pseudo" ngModel name="pseudo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Adresse E-mail" ngModel name="mail">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Mot de passe" ngModel name="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Confirmation Mot de passe" ngModel name="passeword_confirm">
    </mat-form-field>

</form>

<button class="boutonInscription" (click)="onRegister(userForm.value)"> Inscription !</button>
