
<mat-icon (click)="onNoClick()" class="iconClose" >highlight_off</mat-icon>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Prenom" >
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pseudo" >
      </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Adresse E-mail" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Mot de passe" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="COnfirmation Mot de passe" >
    </mat-form-field>

</form>

<button class="boutonInscription"> Inscription !</button>