<form #user="ngForm">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal informations
        </mat-panel-title>

        <mat-panel-description>
         UpDate your informations
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="First name" value="{{profile.fname}}" ngModel name="fname">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
<br>
<button mat-raised-button (click)="profiles_direct()" color="primary">UPDATA your profile</button>
    </mat-expansion-panel>
</mat-accordion>
</form>
   
      <button mat-raised-button (click)="profiles_direct()" color="primary">PROFILES</button>

  