<div class="preview"
    *ngFor="let profile of pokemons">
    <mat-card
        (click)="Select(profile)"
        [class.selected-card]="selectedPokemons[profile.id]">
        <mat-card-header>
            <mat-card-title>{{profile.name}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <img
                class="thumbnail"
                    [src]="'data:image/jpg;base64,'+profile.image"
                [routerLink]=[profile.id]>
        </mat-card-content>
    </mat-card>
</div>

