<mat-icon (click)="onNoClick()" class="iconClose">highlight_off</mat-icon>

<form class="example-form" #userForm="ngForm">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pseudo" ngModel name="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Mot de passe" ngModel name="password">
    </mat-form-field>
</form>


<button routerLink="/profil" class="boutonConnexion" (click)="onLogin(userForm.value)"> C'est Parti !</button>
<router-outlet></router-outlet>