
.image{
	height:40em; 
	background-size:cover;
	width:auto;
	background-image:url('/assets/renc.jpg');
	background-position:50% 50%;
}

.bouton1 {
	border-radius:12px 0 12px 0;
	width:200px;
	height: 50px; 
	position:absolute; top:10%; left:75%; 
	background: rgb(0, 0, 0);
	color: #e29f9f;
	font:bold 13px Arial;
	box-shadow:7px 7px 10px #f7b985;
	border:none;


}

.bouton2 {
	border-radius:12px 0 12px 0;
	width:200px;
	height: 50px; 
	position:absolute; top:20%; left:75%; 
	background: #000000;
	color: #e29f9f;
	font:bold 13px Arial;
	box-shadow:7px 7px 10px #f7b985;
	border:none;

}

#test{
	animation: Test 1s infinite;
	position: absolute; top: 50%; left: 50%;
	color: crimson;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}