<div class="bg-img">

<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<br>
<mat-card class="center">
  <mat-card-content >
    <form class="my-form" #user="ngForm">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" ngModel name="fname" >
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" ngModel name="lname" >
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" ngModel name="address" >
      </mat-form-field>
      <br>

     <mat-form-field class="full-width"> 
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [formControl]="email" ngModel name="email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
     </mat-form-field>

      <br>

      <div class="example-container">
      <mat-form-field  class="full-width">
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" ngModel name="password" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      </div>

      <br>
      <section class="example-section">
        <label class="example-margin">Gender:</label> <br>
        <br>
        <mat-radio-group ngModel name="gender">
          <mat-radio-button class="example-margin" value="Male">Male</mat-radio-button>
          <mat-radio-button class="example-margin" value="Female">Female</mat-radio-button>
          <mat-radio-button class="example-margin" value="Other">Other</mat-radio-button>
        </mat-radio-group>
      </section>
      <br>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" ngModel name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content >

  <mat-card-actions>
    <button mat-raised-button (click)="register(user.value)" color="primary">REGISTER</button>
  </mat-card-actions>

</mat-card>
</div>